{% extends 'base.html' %}
{% block container %}
  <div class="container">
      <div class="row">
          <div class="col">
              <h2>Fresh flats</h2>
              <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">title</th>
                  <th scope="col">price</th>
                  <th scope="col">history</th>
                  <th scope="col">url</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ object.title }}</td>
                  <td>{{ object.price }}</td>
                  <td>{% for d, p in object.history_data.items %}
                        {{d}} : {{ p }} <br>
                      {% endfor %}
                  </td>
                  <td><a href="{{ object.url }}" target="_blank">more</a></td>
                </tr>

              </tbody>
            </table>
          </div>
      </div>
  </div>
{% endblock container %}
